<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Update Form</title>
  </head>
  <body
    class="container d-flex flex-column justify-content-center align-items-center w-100 p-4"
  >
    <h1 class="display-4 mb-5">{{title}}</h1>

    <form action="/auth/update_food" method="post">
      <fieldset
        class="border border-2 border-warning p-3 d-flex flex-column justify-content-center align-items-center fs-5"
      >
        <label for="prev_food_name">Previous Food Name:</label>
        <input class="w-100 bg-secondary bg-gradient text-white" type="text" name="prev_food_name" id="prev_food_name" readonly value="{{foodRecord.food_name}}"><br /><br />
        <label for="food_name">Updated Food Name:</label>
        <input class="w-100" type="text" name="food_name" id="food_name" required value="{{foodRecord.food_name}}"><br /><br />

        <label for="price">Updated Price:</label>
        <input type="number" name="price" id="price" required value="{{foodRecord.price}}"><br /><br />

        
        <label for="food_category_id">Category:</label>
        <select class="w-max" name="food_category_id" id="food_category_id" required>
          {{!-- <option value="0" disabled>--Choose Food Category--</option> --}}
          <option value="1" {{#if foodCategory1}}selected{{/if}}>Appetizers / L'Entrée</option>
          <option value="2" {{#if foodCategory2}}selected{{/if}}>Main Course / Plat Principal</option>
          <option value="3" {{#if foodCategory3}}selected{{/if}}>Dessert / Le Dessert</option>
          <option value="4" {{#if foodCategory4}}selected{{/if}}>Side Dishes / Plat d'Accompagnement</option>
          <option value="5" {{#if foodCategory5}}selected{{/if}}>Drinks / Boissons</option>
        </select><br /><br />

        <button type="submit" class="btn btn-success">Submit</button>
      </fieldset>
    </form><br /><br />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>